<%= simple_form_for(@car_show) do |f| %>
  <% if @car_show.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car_show.errors.count, "error") %> prohibited this car show from being saved:</h2>

      <ul>
      <% @car_show.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <%= f.input :name, icon: "user" %>
    <%= f.input :street %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :zipcode %>
    <%= f.input :start, wrapper_html: { class: 'font-color-mopar-blue'}, as: :datetime_picker %>
    <%= f.input :end, as: :datetime_picker %>

    <div class="col-xs-12">
      <%= f.button :submit, id: 'submit', class: 'btn btn-primary' %>

      <% if !@car_show.new_record? then %>
        <%= link_to 'Back', @car_show, class: 'btn btn-secondary' %>
      <% else %>
        <%= link_to 'Return to List', car_shows_path, class: 'btn btn-secondary' %>
      <% end %>
    </div>
  </div>
<% end %>